@using FoodDelivery.Domain.Entities
@using FoodDelivery.Domain.Enums
@model List<Order>

<h2 class="mb-4">📦 Мої замовлення</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">
        У вас ще немає замовлень
    </div>
}
else
{
    @foreach (var order in Model)
    {
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <!-- HEADER -->
                <div class="d-flex justify-content-between mb-2">

                    <strong>Замовлення @order.Id</strong>

                    <span class="badge
                        @(order.Status == OrderStatus.New ? "bg-secondary" :
                          order.Status == OrderStatus.Accepted ? "bg-primary" :
                          order.Status == OrderStatus.Cancelled ? "bg-danger" :
                          order.Status == OrderStatus.InProgress ? "bg-warning text-dark" :
                          "bg-success")">
                        @order.Status
                    </span>

                </div>

                <!-- INFO -->
                <div class="mb-2 text-muted">
                    <i class="bi bi-calendar-week"></i>
                    @order.CreatedAt.ToLocalTime()
                </div>

                <div class="mb-3 text-muted">
                    <i class="bi bi-geo-alt-fill"></i>
                    @order.Address
                </div>

                @if (order.CourierId != null)
                {
                    <div class="mb-3 text-muted">
                        <i class="bi bi-person-badge"></i>
                         @order.Courier?.FirstName @order.Courier?.LastName (@order.Courier?.Phone)
                    </div>
                }

                <!-- ITEMS -->
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Страва</th>
                            <th>Ціна</th>
                            <th>Кількість</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in order.Items)
                        {
                            <tr>
                                <td>@item.Dish?.Name</td>
                                <td>@item.Dish?.Price ₴</td>
                                <td>@item.Quantity</td>
                            </tr>
                        }
                    </tbody>
                </table>


                @if (order.Status == OrderStatus.New)
                {
                    <form asp-action="Cancel" method="post" class="mt-2">
                        <input type="hidden" name="orderId" value="@order.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Скасувати
                        </button>
                    </form>
                }
                <!-- TOTAL -->
                <div class="text-end fw-bold">
                    Разом:
                    @order.Items.Sum(x => x.Quantity * x.Dish.Price) ₴
                </div>

            </div>
        </div>
    }
}